.hero {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--back-section-color);

    &__title {
            color: var(--back-color);
            width: 696px;
    
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
    
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }

        &--style {
            background-color: var(--back-section-color);
            text-align: center;
            padding: 200px 0;
        }
}

.hero__button {
    color: var(--back-color);

    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition: background-color var(--animation-orinary) var(--cubic-ordinary);


    &:hover,
    &:focus {
            background-color: var(--hero-button-bgcolor);
        }
}