/* Команда */

.our-team {
    background-color: var(--button-color);
}

.team-list {

        display: flex;
        flex-wrap: wrap;
        gap: 30px;

    @media screen and (min-width: 1200px) {

        flex-wrap: nowrap;
        }
}

.cards-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.item-icon {
    display: flex;
    max-width: 270px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.employee {
    background-color: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 4);
    }
}

.icon {
    fill: var(--icons-color);
    transition: fill var(--animation-orinary) var(--cubic-ordinary);
}

.icon-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--animation-orinary) var(--cubic-ordinary);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

    &:hover>.icon,
    &:focus>.icon {
        fill: var(--back-color);
    }
}