:root {
    /* Кольори */
    --primary-text-color: #212121;
    --ordinary-text-color: #757575;
    --accent-color: #2196f3;
    --back-color: #ffffff;
    --studio-black: #000000;
    --back-section-color: #2f303a;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --button-color: #f5f4fa;
    --wrapper-color: #eeeeee;
    --hero-button-bgcolor: #188ce8;
    --icons-color: #afb1b8;
    --text-area: rgba(117, 117, 117, 0.5);

    /* Анімація */
    --animation-orinary: 250ms;
    --cubic-ordinary: cubic-bezier(0.4, 0, 0.2, 1);
}